.loader{
    position: fixed;
    height: 100vh;
    width: 100%;
    background: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 100000;
    color: white;
    padding: auto;
  
  }

  .letters{
    letter-spacing: 10px;
    font-size: 70px;
    margin-top: 350px;
    font-weight: bold;
    animation: chargement 0.7s linear infinite;
    margin-inline: 50%;
  }
  

  #background-video {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0; 
    left: 0;
    height: 100vh; /* hauteur de la fenêtre, changez cette valeur si nécessaire */
    object-fit: cover; /* s'assure que la vidéo couvre tout l'espace sans déformation */
    z-index: -10; 
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  
  footer{
    background-color: rgba(255, 255, 255, 0.3); /* Couleur de fond avec une certaine transparence */
    backdrop-filter: blur(20px); /* L'effet de flou */
    -webkit-backdrop-filter: blur(10px);
    /* z-index: ; */
  }

  @media screen and (max-width: 1475px){

    body{
      max-width: 100%;
      overflow-x: hidden;
    }

    #background-video {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0; 
      left: 0;
      height: 100vh; /* hauteur de la fenêtre, changez cette valeur si nécessaire */
      object-fit: cover; /* s'assure que la vidéo couvre tout l'espace sans déformation */
      z-index: -10; /* derrière tous les autres éléments dans le header */
      background-attachment: fixed;
      /* background-position: center; */
      background-size: cover;
      background-repeat: no-repeat;
  
  }
  }

  @media screen and (max-width: 1262px){
    header{
      height: 100vh;
      width: 100%;
    }

    .animated-text {
      position: absolute;
      left: 40%; /* Centrer horizontalement */
      transform: translate(-50%, -50%);
      font-size: 70px; 
      height: 100px; 
    }

    #background-video {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0; 
      left: 0;
      height: 100vh;
  
  }
  
}


@media screen and (max-width: 900px){

  nav{
    display: none;
  }
  .animated-text {
    position: absolute;
    top: 30%;
    left: 55%; /* Centrer horizontalement */
    transform: translate(-50%, -50%);
    font-size: 40px; 
    height: 50px; 
  }
  .img-bars{
    display: block;
    height: 50px;
    width: 50px;
    float: inline-end;
    margin-right: 50px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 730px){

  .animated-text {
    position: absolute;
    top: 20%;
    left: 45%; /* Centrer horizontalement */
    transform: translate(-50%, -50%);
    font-size: 20px; 
    height: 30px; 
  }
  .img-bars{
    display: block;
    height: 50px;
    width: 50px;
    float: inline-end;
    margin-right: 50px;
    margin-top: 50px;
  }
}